#div00 {
  background-color: lightgrey;
  width: 300px;
  float: left;
  height: 200px;
  padding: 150px;
  margin: 60px;
}

#div01 {
  background-color: lightgrey;
  width: 300px;
  float: right;
  height: 200px;
  padding: 150px;
  margin-right: 60px;
  margin-top: 60px;
}